@import '~bootstrap/scss/bootstrap';

.page-Container {
  display:flex;
  background: #fe8c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(bottom, #f83600, #fe8c00);
background: -o-linear-gradient(bottom, #f83600, #fe8c00);
background: linear-gradient(to top, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
